/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}



body {
    display: flex;
    justify-content: center;
    scroll-behavior: smooth;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.card-rating  {
    padding-top: 10px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires > section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 5px 30px 30px;
    box-sizing: border-box;
}

.hebergements h2{
    margin: 20px 0;
    padding-left: 13px;
}
/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    display: flex;
    flex-wrap: wrap;
}

.populaires h2{
    width: 90%;
    height: 30px;
    margin: 20px 0;
    padding-left: 13px;
}

.populaires i{
    height: 30px;
    margin: 20px 0;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px
}

.populaires-cards a {
    height: 26%;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 100%;
}
.populaires-cards a article {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.populaires-cards img {
    width: 33%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 100%;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .afficher-plus {

        padding-left: 13px;

    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}
/* tablette responsive */
@media screen and (max-width: 1024px) {

    .box-filtre img{
        margin: 0 0 0 13px;
    }

   .card-rating {
    display:block
    }

    .populaires-title {
        padding-top: 13px;  
      }

    .populaires-cards .card{
        height:auto
    }  
     
    .card-activites img{
        height:81%;
    }

} 

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    header-accueil {
        display:block
    }

    header-logo {
        margin:auto;
        padding: 0,0,25px,25px;
    }
    
    header-presentation h1 {
        font-size:21px;
    }

    header-presentation p {
        font-size:15px; 
    }

    hebergements-and-populaires {
        background-color:white;
        padding:0px
    }

    box-carte-hebergement {
        width:100%;
    }

    div-activités {
        display:block;
        width:100%;
    }

    footer {
        width:auto;
        display:block
    }
}


body{
    margin: 0 auto;
    max-width: 1440px;
}

.centrer-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

li{
    list-style-type: none;
}


/* header */

.header-accueil{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 80px 0 20px; 
}

.header-logo img{
    width: 110px;

}

.header-logo {
    margin: 0%;
}
/* Nav */

.header-nav{
    height: 95%;
}

.item-nav a:hover {

       color: #0065FC;
       border-top: #0065FC;
}

.item-nav a::before{
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 3px;
    background-color:#0065FC;
    transition: width 0.4s ease-in-out;
}

.item-nav a:hover::before{
    width: 10%;
}


form{
    display: flex;
    height: 60px;
    border: none;
}


.search{
    
    border: none;
    border: 2px solid #F2F2F2;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    max-width: 300px;
    min-width: 160px;
    width: 100%;
    cursor: pointer;
 
}


.ping {
    background-color: rgb(235, 235, 235);
    padding: 5px;
    width: 60px;
    height: 50px;
    border-radius: 15px 0px 0px 15px ;
    border: none;
    cursor: pointer;
    font-size: 22px;
    display: flex;
    align-items: center;
}

.fa-location-dot{
    color: black;
    display: flex;
    justify-content: center;
    
}

.submit{
    background-color: #0065FC;
    color: white;
    border-radius: 0 20px 20px 0;
    padding: 0 10px;
    border: none;
    cursor: pointer;

}

/* les filtres */

.filtres {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 30px 0;
    font-size: clamp(12px, 3vw, 16px);
    gap: 40px;
}

.box-filtre{
    border: solid 2px rgb(224, 221, 221);
    border-radius: 100px;
    display: flex;
    align-items: center;
}
.box-filtre:hover {
    background-color: #DEEBFF;
}

.box-filtre img {
    margin: 0 5px 0 15px;
    right: 5px;
    font-size: 20px;
    width: 21px;
    height: 21px;
    transition: all 0.4s ease-in-out;
}

.box-filtre:nth-child(2) .filtre-logo:after{
    font-family: 'FontAwesome';
    color: #0065FC;
}

.box-filtre:nth-child(3) .filtre-logo:after{
    font-family: 'FontAwesome';
    color: #0065FC;
}

.box-filtre:nth-child(4) .filtre-logo:after{
    font-family: 'FontAwesome';
    color: #0065FC;
}

.box-filtre:nth-child(5) .filtre-logo:after{
    /*ICON FLAMMES*/
    font-family: 'FontAwesome';
}

.box-filtre h3{
    padding: 0 20px 0 10px;
}

.box-filtre:hover .filtre-logo{
    transform: rotate(360deg);
}

.box-filtre:hover{
    color: #0065FC;
}

/* iNfo */

.conteneur-info{
    display: flex;
    align-items: center;
}

.conteneur-info p{
    font-size: clamp(14px, 3vw, 18px);
}

.logo-info{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 0px;
    margin-right: 15px;
    border: 1px solid rgb(223, 220, 220);
    color: #0065FC;
}

.logo-info:hover{
    color: #000000;
}

.logo-info::after{
    content: '\f129';
    font-family: 'FontAwesome';
}

/* les hebergements */

.cartes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 13px;
}


.box-carte-hebergement{
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    width: 31%;
    height: 250px;
    cursor: pointer;
    border: 5px solid #ffffff;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    background-color: rgb(255, 255, 255);
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
}

.box-carte-hebergement img {
    object-fit: cover;
    width: 100%;
    border-radius: 20px 20px 0 0 ;
    height: 60%;
}

.card-content{
    padding: 10px 15px;
}

.card-content p {
    margin: 5px 0;
    padding-top: 1px;
}


.hebergements h3{

    cursor: pointer;
}

.box-carte-hebergement h3{
    margin: 0px;
}

/* carte-activités */


.Activités-marseille h2{
    padding-top:40px ;
    padding-bottom: 15px;
}

.card-activites {
    cursor: pointer;
    width: 23%;
    filter: drop-shadow(0px 3px 30px rgba(0, 0, 0, 0.37));
    border-radius: 20px;
    background-color: var(--main-bg-color) ;
    margin-bottom: 30px;
}
    

.card-activites img {
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    height: 87%;
}

.div-activites {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.div-activites h3{
   margin: 15px ;
}

/* footer */

footer{
    background-color:#f2f2f2;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin-top: 35px;
}

.a-propos, .nos-hebergements, .assistance {
    width: 30%; 
    padding-top: 15px;
}

footer h2{
    margin-bottom: 20px;
    padding-left: 40px;
}

footer li{
    margin-bottom: 10px;
}

footer a:hover{
    color: #0065FC;
}